# 데이터 전처리



*   column 용어 정리
*   결측치 제거
*   타입 변경
*   이상치 제거
*   column 값
*   범주형 데이터 수치화

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
pip install --upgrade pandas
import pandas as pd

In [3]:
# 주제 : 중고차 가격 예측

## column 용어 정리

In [4]:
# column 용어 정리

# id : 중고차 회원(구매자)의 개별 id
# vin : 차대번호(사람으로 따지면 주민등록번호, 차량 절도 내역 조회 가능)
# price : 가격 // 이걸 target으로
# miles :  주행거리 / 배기량(차량이 낼 수 있는 동력 ) / rpm(바퀴가 회전하는 속도) / 연비 = 거리 / 연료량(1L당 갈 수 있는 거리) / 중고자체어슨
# stock_no : 웹사이트에 나와 있는? 차량의 재고 번호
# year : 연식
# make : 제조사
# model : 모델
# trim : 트림(모델 안에서의 등급) / http://wiki.hash.kr/index.php/%ED%8A%B8%EB%A6%BC
# body_type : 바디 스타일 / https://blog.gm-korea.co.kr/7
# vehicle_type : 차량 유형
# drivetrain : 구동 방식 / FWD : 전륜구동 자동차, RWD : 후륜구동 자동차, 4WD: 평소에는 두바퀴만 굴리는데(보통 후륜구동) 필요에 따라서 앞바퀴도 굴리게끔 전환 가능한 모드가 심어져 있는 자동차 / https://kids.hyundai.com/kidshyundai/AutomobileManagement/learnauto/automobileDet.kids?cotnSn=3550
# transmission : 변속기 종류
# fuel_type : 연료 타입
# engine_size : 엔진의 배기량(L 단위)
# engine_block : 실린더 블록(4개의 진원통형인 실린더보어는 내부에 투입되는 혼합기(공기 + 연료)의 폭발 에너지를 피스톤의 왕복 운동으로 변환하고
                              #다시 크랭크에서 왕복 운동을 회전 운동으로 변환시켜 자동차를 움직임) / http://www.maxrotec.com/content/product_view.php?uuid=5feddcec-9b67-493c-825b-ab637ee3079f&seq=30&pseq=30&no=13&PHPSESSID=7e7d995f4700c103bae8e0b906168f6a

                              # 직렬 엔진(I) : 준중형, 소형차에 많이 쓰임, V형 엔진 : 자동차에서 가장 일반적으로 쓰이는 엔진, H형 엔진 : 주로 항공기에 많이 쓰임

# 연도, 주행거리, 변속기 종류, 배기량, 연료타입, 구동방식 중요

# vin, id, seller_name, street, zip는 제외시킴
# city, state는 일단 보류

## 결측치 제거

In [5]:
import pandas as pd

ca = pd.read_csv('/content/drive/MyDrive/ca-dealers-used.csv')
dfc = ca.dropna()   # 결측치 제거


us = pd.read_csv('/content/drive/MyDrive/us-dealers-used.csv')
dfu = us.dropna()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (13,15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
dfc.info(), dfu.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 261203 entries, 0 to 393602
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            261203 non-null  object
 1   vin           261203 non-null  object
 2   price         261203 non-null  float64
 3   miles         261203 non-null  float64
 4   stock_no      261203 non-null  object
 5   year          261203 non-null  float64
 6   make          261203 non-null  object
 7   model         261203 non-null  object
 8   trim          261203 non-null  object
 9   body_type     261203 non-null  object
 10  vehicle_type  261203 non-null  object
 11  drivetrain    261203 non-null  object
 12  transmission  261203 non-null  object
 13  fuel_type     261203 non-null  object
 14  engine_size   261203 non-null  float64
 15  engine_block  261203 non-null  object
 16  seller_name   261203 non-null  object
 17  street        261203 non-null  object
 18  city          261203 non-null  object
 19  state         261203 non-null  object
 20  zip           261203 non-null  object
dtypes: float64(4), object(17)
memory usage: 43.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6167623 entries, 0 to 7104303
Data columns (total 21 columns):
 #   Column        Dtype
---  ------        -----
 0   id            object
 1   vin           object
 2   price         float64
 3   miles         float64
 4   stock_no      object
 5   year          float64
 6   make          object
 7   model         object
 8   trim          object
 9   body_type     object
 10  vehicle_type  object
 11  drivetrain    object
 12  transmission  object
 13  fuel_type     object
 14  engine_size   float64
 15  engine_block  object
 16  seller_name   object
 17  street        object
 18  city          object
 19  state         object
 20  zip           object
dtypes: float64(4), object(17)
memory usage: 1.0+ GB

(None, None)

## 타입 변경

In [7]:
dfc[["year"]] = dfc[["year"]].astype("int")
dfu[["year"]] = dfu[["year"]].astype("int")
dfc.info(), dfu.info()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 261203 entries, 0 to 393602
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            261203 non-null  object
 1   vin           261203 non-null  object
 2   price         261203 non-null  float64
 3   miles         261203 non-null  float64
 4   stock_no      261203 non-null  object
 5   year          261203 non-null  int64
 6   make          261203 non-null  object
 7   model         261203 non-null  object
 8   trim          261203 non-null  object
 9   body_type     261203 non-null  object
 10  vehicle_type  261203 non-null  object
 11  drivetrain    261203 non-null  object
 12  transmission  261203 non-null  object
 13  fuel_type     261203 non-null  object
 14  engine_size   261203 non-null  float64
 15  engine_block  261203 non-null  object
 16  seller_name   261203 non-null  object
 17  street        261203 non-null  object
 18  city          261203 non-null  object
 19  state         261203 non-null  object
 20  zip           261203 non-null  object
dtypes: float64(3), int64(1), object(17)
memory usage: 43.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6167623 entries, 0 to 7104303
Data columns (total 21 columns):
 #   Column        Dtype
---  ------        -----
 0   id            object
 1   vin           object
 2   price         float64
 3   miles         float64
 4   stock_no      object
 5   year          int64
 6   make          object
 7   model         object
 8   trim          object
 9   body_type     object
 10  vehicle_type  object
 11  drivetrain    object
 12  transmission  object
 13  fuel_type     object
 14  engine_size   float64
 15  engine_block  object
 16  seller_name   object
 17  street        object
 18  city          object
 19  state         object
 20  zip           object
dtypes: float64(3), int64(1), object(17)
memory usage: 1.0+ GB

(None, None)

## 이상치 제거

In [8]:
# Canada

q1 = dfc.quantile(0.25)
q3 = dfc.quantile(0.75)
IQR = q3 - q1
condition = (dfc < (q1 - 1.5 * IQR)) | (dfc > (q3 + 1.5 * IQR))
condition = condition.any(axis=1)
search_dfc = dfc[condition]

dfc = dfc.drop(search_dfc.index, axis=0)
dfc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 226000 entries, 30 to 393600
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            226000 non-null  object
 1   vin           226000 non-null  object
 2   price         226000 non-null  float64
 3   miles         226000 non-null  float64
 4   stock_no      226000 non-null  object
 5   year          226000 non-null  int64
 6   make          226000 non-null  object
 7   model         226000 non-null  object
 8   trim          226000 non-null  object
 9   body_type     226000 non-null  object
 10  vehicle_type  226000 non-null  object
 11  drivetrain    226000 non-null  object
 12  transmission  226000 non-null  object
 13  fuel_type     226000 non-null  object
 14  engine_size   226000 non-null  float64
 15  engine_block  226000 non-null  object
 16  seller_name   226000 non-null  object
 17  street        226000 non-null  object
 18  city          226000 non-null  object
 19  state         226000 non-null  object
 20  zip           226000 non-null  object
dtypes: float64(3), int64(1), object(17)
memory usage: 37.9+ MB

In [9]:
# USA

q1 = dfu.quantile(0.25)
q3 = dfu.quantile(0.75)
IQR = q3 - q1
condition = (dfu < (q1 - 1.5 * IQR)) | (dfu > (q3 + 1.5 * IQR))
condition = condition.any(axis=1)
search_dfu = dfu[condition]

dfu = dfu.drop(search_dfu.index, axis=0)
dfu.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5455121 entries, 0 to 7040652
Data columns (total 21 columns):
 #   Column        Dtype
---  ------        -----
 0   id            object
 1   vin           object
 2   price         float64
 3   miles         float64
 4   stock_no      object
 5   year          int64
 6   make          object
 7   model         object
 8   trim          object
 9   body_type     object
 10  vehicle_type  object
 11  drivetrain    object
 12  transmission  object
 13  fuel_type     object
 14  engine_size   float64
 15  engine_block  object
 16  seller_name   object
 17  street        object
 18  city          object
 19  state         object
 20  zip           object
dtypes: float64(3), int64(1), object(17)
memory usage: 915.6+ MB

## column 값

In [10]:
# Canada

#print(dfc['id'].value_counts(ascending = False))
#print(dfc['vin'].value_counts(ascending = False))
#print(dfc['price'].value_counts(ascending = False))
#print(dfc['miles'].value_counts(ascending = False))
#print(dfc['stock_no'].value_counts(ascending = False))
#print(dfc['year'].value_counts(ascending = False))
#print(dfc['make'].value_counts(ascending = False))
#print(dfc['model'].value_counts(ascending = False))
#print(dfc['trim'].value_counts(ascending = False))
#print(dfc['body_type'].value_counts(ascending = False))
#print(dfc['vehicle_type'].value_counts(ascending = False))
#print(dfc['drivetrain'].value_counts(ascending = False))
#print(dfc['transmission'].value_counts(ascending = False))
#print(dfc['fuel_type'].value_counts(ascending = False))
#print(dfc['engine_size'].value_counts(ascending = False))
#print(dfc['engine_block'].value_counts(ascending = False))
#print(dfc['seller_name'].value_counts(ascending = False))
#print(dfc['street'].value_counts(ascending = False))
#print(dfc['city'].value_counts(ascending = False))
#print(dfc['state'].value_counts(ascending = False))
#print(dfc['zip'].value_counts(ascending = False))

In [11]:
# Canada

print(dfc.shape)

#print('id 값 개수 :', len(dfc['id'].value_counts(ascending = False)))
#print('vin 값 개수 :', len(dfc['vin'].value_counts(ascending = False)))
#print('price 값 개수 :', len(dfc['price'].value_counts(ascending = False)))
#print('miles 값 개수 :', len(dfc['miles'].value_counts(ascending = False)))
#print('stock_no 값 개수 :', len(dfc['stock_no'].value_counts(ascending = False)))
#print('year 값 개수 :', len(dfc['year'].value_counts(ascending = False)))
#print('make 값 개수 :', len(dfc['make'].value_counts(ascending = False)))
#print('model 값 개수 :', len(dfc['model'].value_counts(ascending = False)))
#print('trim 값 개수 :', len(dfc['trim'].value_counts(ascending = False)))
#print('body_type 값 개수 :', len(dfc['body_type'].value_counts(ascending = False)))
#print('vehicle_type 값 개수 :', len(dfc['vehicle_type'].value_counts(ascending = False)))
#print('drivetrain 값 개수 :', len(dfc['drivetrain'].value_counts(ascending = False)))
#print('transmission 값 개수 :', len(dfc['transmission'].value_counts(ascending = False)))
#print('fuel_type 값 개수 :', len(dfc['fuel_type'].value_counts(ascending = False)))
#print('engine_size 값 개수 :', len(dfc['engine_size'].value_counts(ascending = False)))
#print('engine_block 값 개수 :', len(dfc['engine_block'].value_counts(ascending = False)))
#print('seller_name 값 개수 :', len(dfc['seller_name'].value_counts(ascending = False)))
#print('street 값 개수 :', len(dfc['street'].value_counts(ascending = False)))
#print('city 값 개수 :', len(dfc['city'].value_counts(ascending = False)))
#print('state 값 개수 :', len(dfc['state'].value_counts(ascending = False)))
#print('zip 값 개수 :', len(dfc['zip'].value_counts(ascending = False)))

(226000, 21)

In [12]:
# USA

#print(dfu['id'].value_counts(ascending = False))
#print(dfu['vin'].value_counts(ascending = False))
#print(dfu['price'].value_counts(ascending = False))
#print(dfu['miles'].value_counts(ascending = False))
#print(dfu['stock_no'].value_counts(ascending = False))
#print(dfu['year'].value_counts(ascending = False))
#print(dfu['make'].value_counts(ascending = False))
#print(dfu['model'].value_counts(ascending = False))
#print(dfu['trim'].value_counts(ascending = False))
#print(dfu['body_type'].value_counts(ascending = False))
#print(dfu['vehicle_type'].value_counts(ascending = False))
#print(dfu['drivetrain'].value_counts(ascending = False))
#print(dfu['transmission'].value_counts(ascending = False))
#print(dfu['fuel_type'].value_counts(ascending = False))
#print(dfu['engine_size'].value_counts(ascending = False))
#print(dfu['engine_block'].value_counts(ascending = False))
#print(dfu['seller_name'].value_counts(ascending = False))
#print(dfu['street'].value_counts(ascending = False))
#print(dfu['city'].value_counts(ascending = False))
#print(dfu['state'].value_counts(ascending = False))
#print(dfu['zip'].value_counts(ascending = False))

In [13]:
# USA

print(dfu.shape)

#print('id 값 개수 :', len(dfu['id'].value_counts(ascending = False)))
#print('vin 값 개수 :', len(dfu['vin'].value_counts(ascending = False)))
#print('price 값 개수 :', len(dfu['price'].value_counts(ascending = False)))
#print('miles 값 개수 :', len(dfu['miles'].value_counts(ascending = False)))
#print('stock_no 값 개수 :', len(dfu['stock_no'].value_counts(ascending = False)))
#print('year 값 개수 :', len(dfu['year'].value_counts(ascending = False)))
#print('make 값 개수 :', len(dfu['make'].value_counts(ascending = False)))
#print('model 값 개수 :', len(dfu['model'].value_counts(ascending = False)))
#print('trim 값 개수 :', len(dfu['trim'].value_counts(ascending = False)))
#print('body_type 값 개수 :', len(dfu['body_type'].value_counts(ascending = False)))
#print('vehicle_type 값 개수 :', len(dfu['vehicle_type'].value_counts(ascending = False)))
#print('drivetrain 값 개수 :', len(dfu['drivetrain'].value_counts(ascending = False)))
#print('transmission 값 개수 :', len(dfu['transmission'].value_counts(ascending = False)))
#print('fuel_type 값 개수 :', len(dfu['fuel_type'].value_counts(ascending = False)))
#print('engine_size 값 개수 :', len(dfu['engine_size'].value_counts(ascending = False)))
#print('engine_block 값 개수 :', len(dfu['engine_block'].value_counts(ascending = False)))
#print('seller_name 값 개수 :', len(dfu['seller_name'].value_counts(ascending = False)))
#print('street 값 개수 :', len(dfu['street'].value_counts(ascending = False)))
#print('city 값 개수 :', len(dfu['city'].value_counts(ascending = False)))
#print('state 값 개수 :', len(dfu['state'].value_counts(ascending = False)))
#print('zip 값 개수 :', len(dfu['zip'].value_counts(ascending = False)))

(5455121, 21)

In [14]:
# Canada 데이터와 concat하기 위해 row 수를 Canada 기준으로 맞추기

dfu = dfu.sample(n = 226000)
dfu = dfu.reset_index()
dfu = dfu.drop(['index'], axis = 1)

## 범주형 데이터 수치화

In [15]:
pip install --upgrade category_encoders

Requirement already satisfied: category_encoders in /usr/local/lib/python3.7/dist-packages (2.3.0)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.0.0)

In [16]:
dfc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 226000 entries, 30 to 393600
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            226000 non-null  object
 1   vin           226000 non-null  object
 2   price         226000 non-null  float64
 3   miles         226000 non-null  float64
 4   stock_no      226000 non-null  object
 5   year          226000 non-null  int64
 6   make          226000 non-null  object
 7   model         226000 non-null  object
 8   trim          226000 non-null  object
 9   body_type     226000 non-null  object
 10  vehicle_type  226000 non-null  object
 11  drivetrain    226000 non-null  object
 12  transmission  226000 non-null  object
 13  fuel_type     226000 non-null  object
 14  engine_size   226000 non-null  float64
 15  engine_block  226000 non-null  object
 16  seller_name   226000 non-null  object
 17  street        226000 non-null  object
 18  city          226000 non-null  object
 19  state         226000 non-null  object
 20  zip           226000 non-null  object
dtypes: float64(3), int64(1), object(17)
memory usage: 37.9+ MB

In [17]:
# id, vin, stock_no, seller_name은 분석에서 제외 = column 삭제
# street, city, zip은 값이 많아서 상관관계를 보고 삭제 판단

dfc = dfc.drop(['id', 'vin', 'stock_no', 'seller_name'], axis = 1)
dfc = dfc.reset_index()
dfc = dfc.drop(['index'], axis = 1)


dfu = dfu.drop(['id', 'vin', 'stock_no', 'seller_name'], axis = 1)
dfu = dfu.reset_index()
dfu = dfu.drop(['index'], axis = 1)

In [18]:
dummy_dfc_make = pd.get_dummies(dfc['make'])
dummy_dfc_model = pd.get_dummies(dfc['model'])
dummy_dfc_trim = pd.get_dummies(dfc['trim'])
dummy_dfc_body_type = pd.get_dummies(dfc['body_type'])
dummy_dfc_vehicle_type = pd.get_dummies(dfc['vehicle_type'])
dummy_dfc_drivetrain = pd.get_dummies(dfc['drivetrain'])
dummy_dfc_transmission = pd.get_dummies(dfc['transmission'])
dummy_dfc_fuel_type = pd.get_dummies(dfc['fuel_type'])
dummy_dfc_engine_block = pd.get_dummies(dfc['engine_block'])
dummy_dfc_street = pd.get_dummies(dfc['street'])
dummy_dfc_city = pd.get_dummies(dfc['city'])
dummy_dfc_state = pd.get_dummies(dfc['state'])
dummy_dfc_zip = pd.get_dummies(dfc['zip'])

dummy_dfu_make = pd.get_dummies(dfc['make'])
dummy_dfu_model = pd.get_dummies(dfc['model'])
dummy_dfu_trim = pd.get_dummies(dfc['trim'])
dummy_dfu_body_type = pd.get_dummies(dfc['body_type'])
dummy_dfu_vehicle_type = pd.get_dummies(dfc['vehicle_type'])
dummy_dfu_drivetrain = pd.get_dummies(dfc['drivetrain'])
dummy_dfu_transmission = pd.get_dummies(dfc['transmission'])
dummy_dfu_fuel_type = pd.get_dummies(dfc['fuel_type'])
dummy_dfu_engine_block = pd.get_dummies(dfc['engine_block'])
dummy_dfu_street = pd.get_dummies(dfc['street'])
dummy_dfu_city = pd.get_dummies(dfc['city'])
dummy_dfu_state = pd.get_dummies(dfc['state'])
dummy_dfu_zip = pd.get_dummies(dfc['zip'])

In [19]:
# vehicle_type의 truck을 제외하고 column 자체를 삭제

dummy_dfc_vehicle_type = dummy_dfc_vehicle_type.drop(['Truck'], axis = 1)
dummy_dfu_vehicle_type = dummy_dfu_vehicle_type.drop(['Truck'], axis = 1)
dummy_dfc_vehicle_type, dummy_dfu_vehicle_type

(        Car
 0         0
 1         0
 2         0
 3         0
 4         0
 ...     ...
 225995    0
 225996    0
 225997    0
 225998    0
 225999    0

 [226000 rows x 1 columns],         Car
 0         0
 1         0
 2         0
 3         0
 4         0
 ...     ...
 225995    0
 225996    0
 225997    0
 225998    0
 225999    0

 [226000 rows x 1 columns])

In [20]:
# Canada

print('make : ', dummy_dfc_make.shape)
print('model : ', dummy_dfc_model.shape)
print('trim : ', dummy_dfc_trim.shape)
print('body_type : ', dummy_dfc_body_type.shape)
print('vehicle_type : ', dummy_dfc_vehicle_type.shape)
print('drivetrain : ', dummy_dfc_drivetrain.shape)
print('transmission : ', dummy_dfc_transmission.shape)
print('fuel_type : ', dummy_dfc_fuel_type.shape)
print('engine_block : ', dummy_dfc_engine_block.shape)
print('city : ', dummy_dfc_city.shape)
print('state : ', dummy_dfc_state.shape)

# 값이 큰 street, zip도 분석에서 제외

make :  (226000, 37)
model :  (226000, 515)
trim :  (226000, 810)
body_type :  (226000, 20)
vehicle_type :  (226000, 1)
drivetrain :  (226000, 3)
transmission :  (226000, 2)
fuel_type :  (226000, 15)
engine_block :  (226000, 3)
city :  (226000, 707)
state :  (226000, 12)

In [21]:
# USA

print('make : ', dummy_dfu_make.shape)
print('model : ', dummy_dfu_model.shape)
print('trim : ', dummy_dfu_trim.shape)
print('body_type : ', dummy_dfu_body_type.shape)
print('vehicle_type : ', dummy_dfu_vehicle_type.shape)
print('drivetrain : ', dummy_dfu_drivetrain.shape)
print('transmission : ', dummy_dfu_transmission.shape)
print('fuel_type : ', dummy_dfu_fuel_type.shape)
print('engine_block : ', dummy_dfu_engine_block.shape)
print('city : ', dummy_dfu_city.shape)
print('state : ', dummy_dfu_state.shape)

make :  (226000, 37)
model :  (226000, 515)
trim :  (226000, 810)
body_type :  (226000, 20)
vehicle_type :  (226000, 1)
drivetrain :  (226000, 3)
transmission :  (226000, 2)
fuel_type :  (226000, 15)
engine_block :  (226000, 3)
city :  (226000, 707)
state :  (226000, 12)

In [22]:
dfc = pd.concat([dfc, dummy_dfc_make], axis = 1)
dfc = pd.concat([dfc, dummy_dfc_model], axis = 1)
dfc = pd.concat([dfc, dummy_dfc_trim], axis = 1)
dfc = pd.concat([dfc, dummy_dfc_body_type], axis = 1)
dfc = pd.concat([dfc, dummy_dfc_vehicle_type], axis = 1)
dfc = pd.concat([dfc, dummy_dfc_drivetrain], axis = 1)
dfc = pd.concat([dfc, dummy_dfc_transmission], axis = 1)
dfc = pd.concat([dfc, dummy_dfc_fuel_type], axis = 1)
dfc = pd.concat([dfc, dummy_dfc_engine_block], axis = 1)
dfc = pd.concat([dfc, dummy_dfc_city], axis = 1)
dfc = pd.concat([dfc, dummy_dfc_state], axis = 1)


# 기존에 있던 column은 삭제

dfc = dfc.drop(['make', 'model', 'trim', 'body_type', 'vehicle_type', 'drivetrain', 'transmission', 'fuel_type', 'engine_block', 'city', 'state'], axis = 1)

In [23]:

dfu = pd.concat([dfu, dummy_dfu_make], axis = 1)
dfu = pd.concat([dfu, dummy_dfu_model], axis = 1)
dfu = pd.concat([dfu, dummy_dfu_trim], axis = 1)
dfu = pd.concat([dfu, dummy_dfu_body_type], axis = 1)
dfu = pd.concat([dfu, dummy_dfu_vehicle_type], axis = 1)
dfu = pd.concat([dfu, dummy_dfu_drivetrain], axis = 1)
dfu = pd.concat([dfu, dummy_dfu_transmission], axis = 1)
dfu = pd.concat([dfu, dummy_dfu_fuel_type], axis = 1)
dfu = pd.concat([dfu, dummy_dfu_engine_block], axis = 1)
dfu = pd.concat([dfu, dummy_dfu_city], axis = 1)
dfu = pd.concat([dfu, dummy_dfu_state], axis = 1)


dfu = dfu.drop(['make', 'model', 'trim', 'body_type', 'vehicle_type', 'drivetrain', 'transmission', 'fuel_type', 'engine_block', 'city', 'state'], axis = 1)

In [24]:
df = pd.concat([dfc, dfu])

In [25]:
df = df.drop(['street', 'zip'], axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 452000 entries, 0 to 225999
Columns: 2129 entries, price to YT
dtypes: float64(3), int64(1), uint8(2125)
memory usage: 933.2 MB

In [26]:
df = df.reset_index()
df

         index    price     miles  year  engine_size  ...  ON  PE  QC  SK  YT
0            0  21499.0  126500.0  2012          5.7  ...   0   0   0   0   0
1            1  45995.0  105317.0  2018          5.0  ...   0   0   1   0   0
2            2  45995.0  105317.0  2018          5.0  ...   0   0   1   0   0
3            3  49999.0   62254.0  2018          5.0  ...   0   0   0   0   0
4            4  39980.0   90439.0  2018          5.0  ...   1   0   0   0   0
...        ...      ...       ...   ...          ...  ...  ..  ..  ..  ..  ..
451995  225995  16995.0   90631.0  2016          2.4  ...   0   0   1   0   0
451996  225996  13327.0   89669.0  2014          2.0  ...   0   0   1   0   0
451997  225997  43900.0   20253.0  2018          2.0  ...   0   0   1   0   0
451998  225998  30847.0   43650.0  2018          5.3  ...   0   0   1   0   0
451999  225999  19968.0   15092.0  2020          1.6  ...   0   0   1   0   0

[452000 rows x 2130 columns]

# 훈련/ 검증세트


*   기준 모델
*   데이터 나누기
*   데이터 누수
*   평가지표

## 데이터 누수 확인

In [27]:
df = df.drop(['index'], axis = 1)
df = df.reset_index()
df

         index    price     miles  year  engine_size  ...  ON  PE  QC  SK  YT
0            0  21499.0  126500.0  2012          5.7  ...   0   0   0   0   0
1            1  45995.0  105317.0  2018          5.0  ...   0   0   1   0   0
2            2  45995.0  105317.0  2018          5.0  ...   0   0   1   0   0
3            3  49999.0   62254.0  2018          5.0  ...   0   0   0   0   0
4            4  39980.0   90439.0  2018          5.0  ...   1   0   0   0   0
...        ...      ...       ...   ...          ...  ...  ..  ..  ..  ..  ..
451995  451995  16995.0   90631.0  2016          2.4  ...   0   0   1   0   0
451996  451996  13327.0   89669.0  2014          2.0  ...   0   0   1   0   0
451997  451997  43900.0   20253.0  2018          2.0  ...   0   0   1   0   0
451998  451998  30847.0   43650.0  2018          5.3  ...   0   0   1   0   0
451999  451999  19968.0   15092.0  2020          1.6  ...   0   0   1   0   0

[452000 rows x 2130 columns]

In [28]:
# 데이터 누수 확인 / year

from category_encoders import OrdinalEncoder
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeClassifier

target = 'price'
features = df.columns.drop([target, 'year'])
X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]

pipe = make_pipeline(OrdinalEncoder(), DecisionTreeClassifier(max_depth=5, random_state=2))

pipe.fit(X_train, y_train)
print('검증 정확도: ', pipe.score(X_val, y_val))

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

InvalidIndexError: ignored

In [ ]:
# 데이터 누수 확인 / miles

target = 'price'
features = df.columns.drop([target, 'miles'])
X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]

pipe = make_pipeline(OrdinalEncoder(), DecisionTreeClassifier(max_depth=5, random_state=2))

pipe.fit(X_train, y_train)
print('검증 정확도: ', pipe.score(X_val, y_val))

In [ ]:
# 데이터 누수 확인 / engine_size

target = 'price'
features = df.columns.drop([target, 'engine_size'])
X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]

pipe = make_pipeline(OrdinalEncoder(), DecisionTreeClassifier(max_depth=5, random_state=2))

pipe.fit(X_train, y_train)
print('검증 정확도: ', pipe.score(X_val, y_val))

In [ ]:
mae = error.abs().mean()
mae

In [ ]:




from sklearn.linear_model import LinearRegression
Ir = LinearRegression()
Ir.fit(train.drop(columns = 'y'), train.y)
y_pred = Ir.predict(test.drop(columns = 'y'))
y_true = test.y

In [ ]:
# 로그 변환

import numpy as np
import matplotlib.pyplot as plt


plots=pd.DataFrame()
plots['original']=target
plots['transformed']=np.log1p(target)
plots['backToOriginal']=np.expm1(np.log1p(target))

fig, ax = plt.subplots(1,3,figsize=(15,5))
sns.histplot(plots['original'], ax=ax[0]);
sns.histplot(plots['transformed'], ax=ax[1]);
sns.histplot(plots['backToOriginal'], ax=ax[2]);

In [ ]:
target = 'price'
df = df[df[target].notna()]

train, val = train_test_split(df, test_size=260, random_state=2)

features = train.drop(columns=[target]).columns

X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]

In [ ]:
# 회귀 : 타겟의 평균값

import seaborn as sns

## 데이터 나누기

In [ ]:
from sklearn.model_selection import train_test_split
train, val = train_test_split(df, test_size = 0.2, random_state = 2)
train.shape, val.shape

## 기준 모델

In [ ]:
# 다운되서 데이터 사이즈를 줄임

df = df.sample(n = 30000)
df = df.reset_index()

In [ ]:
# 회귀모델 = 타겟의 평균값

predict = df['price'].mean()
errors = predict - df['price']
errors

In [ ]:
import seaborn as sns



x = df['year']
y = df['price']

predict = df['price'].mean()
errors = predict - df['price']
mean_absolute_error = errors.abs().mean()

sns.lineplot(x=x, y=predict, color = 'red')
sns.scatterplot(x=x, y=y, color = 'blue')

## 데이터 나누기

In [ ]:
df = df.drop(['index', 'level_0'], axis = 1)
df

In [ ]:
from sklearn.model_selection import train_test_split
train, val = train_test_split(df, test_size = 0.2, random_state = 2)
train.shape, val.shape

## 평가지표

# 임시저장

In [ ]:
from sklearn.model_selection import train_test_split
train, val = train_test_split(df, test_size=0.2, random_state=2)
train.shape, val.shape

In [ ]:
val = val.reset_index()
val

In [ ]:
train = train.reset_index()
train